@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Header */

.top__cta {
    background-color: $violet;
    height: 3rem;
    display: flex;
    align-items: center;
    
    &--bar {
        text-decoration: none;
        color: $black;

        >p {
            font-family: $font-secondary;
            font-size: 1.2rem;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
        }
    } 
}


.header {
    padding: 5rem 2rem 0 2rem;
    overflow-y: visible !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: padding 0.3s ease;

    &.scrolled {
        padding-top: 1rem;
    }

    .nav-principal {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
    max-width: 3.5rem;
    min-width: 3rem;
   }
}

   

