@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */

.hero-card {
    background-color: $light-yellow;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 4rem 1rem 0 1rem;
    

    &__content {
        padding: 2rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        &--title {
            display: flex;  
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;

            &-img {
                width: 100%;
                display: flex;
                justify-content: center;

                >img {
                width: 100%;
                }
            }

            >h2 {
                color: $orange;
                font-size: 1.3rem;
                font-family: $font-secondary;
                margin-left: 7rem;
                font-weight: 800;
                max-width: 50%;
                text-align: right;
                line-height: 95%;
                -webkit-text-stroke: 1px $black;
                z-index: 1;
            }
        }

        &--img {
            width: 100%;
            

        }

        &--decoration {
            position: absolute;

            &-1 {
                top: -1.5rem;
                left: -0.5rem;
            }

            &-2 {
                top: 10rem;
                right: -1rem;
            }

            &-3 {
                top: -0.8rem;
                left: 7rem;
            }
        }
    }

    @include breakpoint(tablet) {
        &__content {
            &--title {
                >h2 {
                    font-size: 2.3rem; 
                }
            }

            &--img {
                margin-top: -10rem;
                content: url('../../img/herobienve-tablet.png'); 
            }
        }
    }
}