@use '../abstracts/variables' as *;
@use 'sass:color';

/* Mixins */
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button($bg-color: $white, $text-color: $black, $border-color: $black) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  width: fit-content;
  
  padding: 0.8rem 2rem;
  background-color: $bg-color;
  color: $text-color;
  
  text-decoration: none;
  border-radius: 100px; 
  border: 2px solid $border-color;

  transition: 0.3s;
  box-shadow: 0px 6px 0px -2px color.adjust($bg-color, $lightness: -50%);

  span {
    line-height: 1;
    font-family: $font-stack; // O la fuente "bold" que uses
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  img {
    width: 1rem;
    height: auto;
    display: block;
  }

  &:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
    //animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
