@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Home */

.team-card {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__title {
        position: relative;

        &-text {
            color: $green;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 220%;

            >span {
                font-size: 5rem;
            }
        }

        &-decoration {
            position: absolute;
            width: 10rem;
            top: -20%;
            right: -37%;
        }
    }

    &__subtitle {
        color: $white;
        width: 70%;
        font-size: 1.35rem;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 1rem;
    }
}

.cursos-card {
    background-color: $white;
    border-radius: 1.5rem;

    padding: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__title {
        position: relative;

        &-text {
            color: $black;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 220%;
            text-align: end;

            >span {
                font-size: 5rem;
            }
        }

        &-decoration {
            position: absolute;
            width: 10rem;
            top: -18%;
            left: -33%;
        }
    }

    &-i {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__examples {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-item {
            border-radius: 1.5rem;
            border: solid $black 2px;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &--title {
                text-transform: uppercase;
                color: $white;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 130%;

                >span {
                    color: $black;
                    font-style: italic;
                    font-size: 2.5rem;
                    font-weight: lighter;
                }
            }

            &--description {
                font-family: $font-secondary;
                font-weight: 300;
            }
            .btn {
                align-self: center;
            }
        }

        .fullstack {
            background-color: $blue;
        }

        .ia {
            background-color: $green;
        }
    }

    @include breakpoint(tablet) {
        &__examples {
            flex-direction: row;
            gap: 1.5rem;

            &-item {
                flex: 1;
            }
        }
    }
}

.blog-card {
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &-i {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    &__title {
        position: relative;

        &-text {
            color: $green;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 220%;

            >span {
                font-size: 5rem;
            }
        }

        &-decoration {
            position: absolute;
            width: 10rem;
            top: -37%;
            right: -45%;
        }
    }

    &__subtitle {
        color: $white;
        width: 70%;
        font-size: 1.35rem;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;

        .blog1 {
            background-color: $yellow;
            position: relative;
            
            .comic-top {
                width: 100%;
                position: absolute;
                top: 0;
            }

            .comic-bottom {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }

        .blog2 {
            background-color: $violet;
            position: relative;

            .comic-top {
                width: 100%;
                position: absolute;
                top: 0;
            }

            .comic-bottom {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }

        &-item {
            border-radius: 1.5rem;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;

            &--name {
                font-size: 2.5rem;
                text-align: center;
                line-height: 125%;
                width: 70%;
            }
        }
    }

    @include breakpoint(tablet) {
        &__posts {
            flex-direction: row;
            gap: 2rem;
            align-items: stretch;

            &-item {
                flex: 1;
                align-self: stretch;
            }
        }
    }
}
