@use '../abstracts/variables' as *;
/* Base styles */
* {
    font-size: 16px;
    font-family: $font-stack;
}

body {
    overflow-x: hidden;
    background-color: $black;
}

img {
  max-width: 100%;
}
